.headerTeamName {
    color: white;
    font-family: Roboto, sans-serif;
}
.headerTeamName :hover {
    color: #BE14AA;
    cursor: pointer;
    text-decoration: none;
    transition: all .2s ease;
    transition-property: color;
    transition-duration: .4s;
    transition-timing-function:'ease';
    transition-delay: 0.5s;
}
