
@media (prefers-reduced-motion: no-preference) {
    .Icon {
    /* animation: App-logo-spin infinite 3s linear; */
    animation: jump 1.2s infinite;
   }
 }

 @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

@keyframes jump {
  0% { transform: translate(-50%, -50%) scale(1.25, 0.75); }
    50% { transform: translate(-50%, -150%) scale(1, 1); }
    55% { transform: translate(-50%, -150%) rotate(15deg); }
    60% { transform: translate(-50%, -150%) rotate(-15deg); }
    65% { transform: translate(-50%, -150%) rotate(15deg); }
    70% { transform: translate(-50%, -150%) rotate(-15deg); }
    100% { transform: translate(-50%, -50%) scale(1.25, 0.75); }
}

.ShootingTeamName {
  color: gray;
  font-family: Roboto, sans-serif;
}
.ShootingTeamName :hover {
  color: #BE14AA;
  cursor: pointer;
  text-decoration: none;
  transition: all .2s ease;
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function:'ease';
  transition-delay: 0s;
}