
@media (prefers-reduced-motion: no-preference) {
    .BarIcon {
    /* animation: App-logo-spin infinite 3s linear; */
    animation: App-logo-spin 3s infinite;
   }
 }

 @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .TextLogo {
    color: white;
    font-family: Roboto, sans-serif;
}
  .TextLogo :hover {
    color: gray;
    cursor: pointer;
    text-decoration: none;
    transition: all .2s ease;
    transition-property: color;
    transition-duration: .3s;
    transition-timing-function:'ease';
    transition-delay: 0s;
}

  /* .BarIcon {
      color:"white !important"
  } */