.BarLinks {
  color:#696769;
  
}
.BarLinks :hover {
		color: #BE14AA;
        cursor: pointer;
        text-decoration: none;
        transition: all .2s ease;
        transition-property: color;
        transition-duration: .3s;
        transition-timing-function:'ease';
        transition-delay: 0s;
        /* line-height: 1; */
    }

.BarLinks :visited {
    color:'blue'
}

/* .BarLinks  */


