.BarLinks {
  color:#696769;
  
}
.BarLinks :hover {
		color: #BE14AA;
        cursor: pointer;
        text-decoration: none;
        transition: all .2s ease;
        line-height: 1;
    }

/* .BarLinks  */

/* .BarLinks  */


